<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link " href="/main"> <i class="oi oi-home"></i> <span>Home</span></a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <span class="nav-link active" >Lançamentos</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pistas/vendas"><i class="oi oi-plus"></i><span> Bomba de Combustível</span></a>
            </li>
        </ul>
    </nav>
</body>
</html>