<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link " href="../../main"> <i class="oi oi-home"></i> <span>Home</span></a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <span class="nav-link active" > Cadastros</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/almoxarifados/cadastrar/"><i class="oi oi-plus"></i><span> Almoxarifados</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cargos/cadastrar/"><i class="oi oi-plus"></i><span> Cargos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes/cadastrar/"><i class="oi oi-plus"></i><span> Clientes</span></a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="/empresas/cadastrar/"><i class="oi oi-plus"></i><span> Empresas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fornecedores/cadastrar/"><i class="oi oi-plus"></i><span> Fornecedores</span></a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="/produtos/cadastrar/"><i class="oi oi-plus"></i><span> Produtos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cobrancas/cadastrar/"><i class="oi oi-plus"></i><span> Tipos Cobranças</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/unidades/cadastrar/"><i class="oi oi-plus"></i><span> Unidades</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/usuarios/cadastrar/"><i class="oi oi-plus"></i><span> Usuarios</span></a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <span class="nav-link active" >Lançamentos</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="oi oi-plus"></i><span> Entrada de Material</span></a>
            </li>
        </ul>
    </nav>
</body>
</html>